<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL语句映射文件，mapper-映射 -->
<mapper namespace="com.zd.dao.IConfig_file_first_kindDao">
	<resultMap type="Config_file_first_kind" id="Config_file_first_kindmapper">
		<result column="ffk_id" property="ffkid"/>
		<result column="first_kind_id" property="firstkindid"/>
		<result column="first_kind_name" property="firstkindname"/>
		<result column="first_kind_salary_id" property="firstkindsalaryid"/>
		<result column="first_kind_sale_id" property="firstkindsaleid"/>
	</resultMap>
</mapper>