<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL语句映射文件，mapper-映射 -->
<mapper namespace="com.zd.dao.IConfig_majorDao">
	<resultMap type="Config_major" id="Config_majormapper">
		<result column="mak_id" property="makid"/>
		<result column="major_kind_id" property="majorkindid"/>
		<result column="major_kind_name" property="majorkindname"/>
		<result column="major_id" property="majorid"/>
		<result column="major_name" property="majorname"/>
	</resultMap>
	
	<resultMap type="Config_major_kind" id="Config_major_kindmapper">
		<result column="mfk_id" property="mfk_id"/>
		<result column="major_kind_id" property="major_kind_id"/>
		<result column="major_kind_name" property="major_kind_name"/>
	</resultMap>
</mapper>