<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- SQL语句映射文件，mapper-映射 -->
<mapper namespace="com.zd.dao.ISalary_grantDao">
	<resultMap type="Salary_grant" id="Salary_grantMapper">
		<result column="sgr_id" property="sgr_id"/>
		<result column="salary_grant_id" property="salary_grant_id"/>
		<result column="salary_standard_id" property="salary_standard_id"/>
		<result column="first_kind_id" property="first_kind_id"/>
		<result column="first_kind_name" property="first_kind_name"/>
		<result column="second_kind_id" property="second_kind_id"/>
		<result column="second_kind_name" property="second_kind_name"/>
		<result column="third_kind_id" property="third_kind_id"/>
		<result column="third_kind_name" property="third_kind_name"/>
		<result column="human_amount" property="human_amount"/>
		<result column="salary_standard_sum" property="salary_standard_sum"/>
		<result column="salary_paid_sum" property="salary_paid_sum"/>
		<result column="register" property="register"/>
		<result column="regist_time" property="regist_time"/>
		<result column="checker" property="checker"/>
		<result column="check_time" property="check_time"/>
		<result column="check_status" property="check_status"/>
	</resultMap>
	
	<!-- 薪资发放查机构映射 -->
	<resultMap type="map" id="mapMapper"></resultMap>
	<!-- 人力 -->
	<resultMap type="com.zd.entity.Human_file" id="humanMapper">
	</resultMap>
	
	<!-- 薪酬标准单详细信息 -->
	<resultMap type="com.zd.entity.Salary_standard_details" id="salary_standard_detailsMapper"></resultMap>
	
	<!-- 三级机构 -->
	<resultMap type="com.zd.entity.Config_file_first_kind" id="firstMapper">
		<result column="ffk_id" property="ffkid"/>
		<result column="first_kind_id" property="firstkindid"/>
		<result column="first_kind_name" property="firstkindname"/>
		<result column="first_kind_salary_id" property="firstkindsalaryid"/>
		<result column="first_kind_sale_id" property="firstkindsaleid"/>
	</resultMap>
	<resultMap type="com.zd.entity.Config_file_second_kind" id="secondMapper">
		<result column="fsk_id" property="fskid"/>
		<result column="first_kind_id" property="firstkindid"/>
		<result column="first_kind_name" property="firstkindname"/>
		<result column="second_kind_id" property="secondkindid"/>
		<result column="second_kind_name" property="secondkindname"/>
		<result column="second_salary_id" property="secondsalaryid"/>
		<result column="second_sale_id" property="secondsaleid"/>
	</resultMap>
	<resultMap type="com.zd.entity.Config_file_third_kind" id="thirdMapper">
		<result column="ftk_id" property="ftkid"/>
		<result column="first_kind_id" property="firstkindid"/>
		<result column="first_kind_name" property="firstkindname"/>
		<result column="second_kind_id" property="secondkindid"/>
		<result column="second_kind_name" property="secondkindname"/>
		<result column="third_kind_id" property="thirdkindid"/>
		<result column="third_kind_name" property="thirdkindname"/>
		<result column="third_kind_sale_id" property="thirdkindsaleid"/>
		<result column="third_kind_is_retail" property="thirdkindisretail"/>
	</resultMap>
	
	<resultMap type="com.zd.entity.Salary_grant_details" id="detailsMapper">
		<result column="grd_id" property="grd_id"/>
		<result column="salary_grant_id" property="salary_grant_id"/>
		<result column="human_id" property="human_id"/>
		<result column="human_name" property="human_name"/>
		<result column="bouns_sum" property="bouns_sum"/>
		<result column="sale_sum" property="sale_sum"/>
		<result column="deduct_sum" property="deduct_sum"/>
		<result column="salary_standard_sum" property="salary_standard_sum"/>
		<result column="salary_paid_sum" property="salary_paid_sum"/>
	</resultMap>
	
</mapper>